/* body{
    background-color: red;
} */

h1{
    color : #7f8c8d;
    transition: color .5s ease-out
}

.clicked {
  color : red;
}


.btn {
    cursor: pointer;
}

.form,
.greeting{
    display: none;
}

.showing{
    display:block;
}